<footer class="footer " >
  <div class="container" >
      <div class="row justify-content-center " >
          <div class="redes-sociais">
              <a href="https://pt-br.facebook.com/adriellyribeiro"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab brands fa-github"></i></a>
             
      
            </div>
     
      </div>
      <div class="row mt-5">
          <div class=" col-md-12 text-center">
              <p class="copyright">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved Adrielly 
            </p>
          </div>
      </div>
  </div>
</footer>