<footer class="footer " >
  <div class="container" >
      <div class="row justify-content-center " >
          <div class="redes-sociais">
              <a href="https://pt-br.facebook.com/adriellyribeiro"><i class="fa fa-facebook-f"></i></a>
              <a href="https://github.com/Eidryel2"><i class="fa brands fa-github"></i></a>
             
      
            </div>
     
      </div>
      <div class="row ">
          <div class=" col-md-12 text-center">
              <p class="copyright">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by Adrielly 
            </p>
          </div>
      </div>
  </div>
</footer>