.menu {
    text-align: center;
    background-color: black !important;
    color: rgb(237, 185, 18) !important;
   } 
   
  .a{
    color: rgb(237, 185, 18);;
  }
   
  .fa{
    color: rgb(237, 185, 18);;
  }
  
  .sair{
      color: rgb(237, 185, 18);
  }
  