.cor {
    background-color: rgb(237, 211, 18);
    border: none;
}

.capa {
    background-image: url(https://i.imgur.com/HnH6GXZ.jpg);
    background-repeat: none;
    background-repeat: no-repeat;
    background-position: right;
    background-repeat: none;
    background-color: black;
    color: rgb(237, 211, 18);
    height: 400px;
}

.form-control{
    background-color: transparent;
color:  rgb(237, 185, 18);
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 3px solid rgb(237, 185, 18);
}

.container-fluid{
    background-color: rgb(244, 235, 197);
}